body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: lightblue;
    flex-wrap: wrap;
  }

    
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  .search-btn {
    background-color: darkkhaki;
    color:white;
  }

  .search-result {
    flex-wrap: wrap;


  }
  .hide-result {
    display:none;
  }